<div class="row">
  <div class="col-md-9">
    Creatures go here
  </div>
  <div class="col-md-3">
    Graveyard goes here
  </div>
</div>
<div class="row">
  <div class="col-md-9">
    Land goes here
  </div>
  <div class="col-md-3">
    <a href="#">
      <img
        class="card"
        src="/assets/card_back.jpeg"
        alt="Library"
        title="Library" />
    </a>
  </div>
</div>
<div class="row">
  <div class="col-md-9">
    <% player.hand.each do |card| %>
      <% image_source = "http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=#{card.multiverse_id}&type=card" %>
      <a href="<%= image_source %>"
         data-toggle="lightbox"
         data-title="<%= card.name %>"
         data-width=223
         data-height=311>
        <img
          class="card"
          src="<%= image_source %>"
          alt="<%= card.name %>" />
      </a>
    <% end %>
  </div>
  <div class="col-md-3">
    <p><%= player.name %></p>
    <p><%= player.life %></p>
  </div>
</div>
