<div class="row">
  <div class="col-md-2 side">
    <%= render "cards/battlefield_section", cards: player.battlefield.side %>
  </div>
  <div class="col-md-10">
    <div class="row">
      <div class="col-md-10">
        <%= render "cards/battlefield_section", cards: player.battlefield.main %>
      </div>
      <div class="col-md-2">
        <%= render "cards/graveyard", cards: player.graveyard %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10">
        <%= render "cards/battlefield_section", cards: player.battlefield.land %>
      </div>
      <div class="col-md-2">
        <%= render "cards/library", cards: player.library.cards %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10">
        <%= render "cards/hand", locals: { cards: player.hand } %>
      </div>
      <div class="col-md-2">
        <p><%= player.name %></p>
        <p><%= player.life %></p>
      </div>
    </div>
  </div>
</div>
