<li class="<%= turn.is_begin? ? 'active' : '' %>">Begin</li>
<li class="<%= turn.is_pre_main? ? 'active' : '' %>">Main</li>
<li class="<%= turn.is_attack? ? 'active' : '' %>">Attack</li>
<li class="<%= turn.is_block? ? 'active' : '' %>">Block</li>
<li class="<%= turn.is_damage? ? 'active' : '' %>">Damage</li>
<li class="<%= turn.is_post_main? ? 'active' : '' %>">Main</li>
