<div class="fluid-container">
  <div class="turn_parts">
    <ol class="breadcrumb">
      <%= render "turn_parts", turn: @game.current_turn %>
    </ol>
  </div>
  <div class="player-area <%= @player2.is_turn? ? 'player-area-active' : '' %>">
     <%= render "opponent", player: @player2 %>
  </div>

  <div class="player-area <%= @player1.is_turn? ? 'player-area-active' : '' %>">
     <%= render "player", player: @player1 %>
  </div>
</div>
